<!DOCTYPE html>
<html lang="en">

<head>
    {{> head_info}}
</head>

<body>
    <!-- Navigation -->
    {{> menu_bar_user}}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Saved Profiles<br>
                    <small>Check out profiles you have saved</small>
                </h1>
                <!-- <ol class="breadcrumb">
                    <li><a href="/user_homepage">Home</a>
                    </li>
                    <li class="active">Blog Home One</li>
                </ol> -->
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            {{#each saved_profiles1}}
            <div class="col-md-4 portfolio-item">
                <a href="/public_profile">
                    <img class="img-responsive" src="{{imgPath}}" alt="">
                </a>
                <h3>
                    <a href="/{{path}}">{{name}}</a>
                </h3>
            </div>
            {{/each}}
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            {{#each saved_profiles2}}
            <div class="col-md-4 portfolio-item">
                <a href="/public_profile">
                    <img class="img-responsive" src="{{imgPath}}" alt="">
                </a>
                <h3>
                    <a href="/{{path}}">{{name}}</a>
                </h3>
            </div>
            {{/each}}
        </div>

        <!-- Projects Row -->
        <div class="row">
            {{#each saved_profiles3}}
            <div class="col-md-4 portfolio-item">
                <a href="/public_profile">
                    <img class="img-responsive" src="{{imgPath}}" alt="">
                </a>
                <h3>
                    <a href="/{{path}}">{{name}}</a>
                </h3>
            </div>
            {{/each}}
        </div>
        <!-- /.row -->

        <hr>
        <p align="center">WishTrip &copy; 2016</p>

    </div>
    <!-- /.container -->


    {{> menu_bar_script}}

</body>

</html>